@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #E0E0E0;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    display: inline-block;
}

.container {
    width: 95%;
    max-width: 1440px;
    min-width: 200px;
    margin: auto;
    padding: 0.5rem 0;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.bold-text {
    font-weight: bold;
}